@import url(http://fonts.googleapis.com/css?family=Playfair+Display);
html {
  background-color: white;
}

body {
  box-shadow: 8px 8px 10px #97A597;
  background-color: #C3DCC2;
  color: #438F3F;
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  margin-top: 170px;
  width: 350px;
}

footer {
  padding-top: 0;
  text-align: left;
  font-size: 0.6em;
  font-weight: bold;
}

h1 {
  font-size: 2.2em;
}

.errorMessage {
  text-align: left;
  color: red;
  font-size: 15px;
}